@import '../sassVariables.scss';

.homePageContainer {
  margin-top: -$navbar-height;
  position: relative;
};

//RECIPE GRID
.recipeItemBox {
  background-color: $brand-color;
  box-sizing: border-box;
  white-space: nowrap;
  margin-bottom: $recipe-icon-padding;
  margin-left: $recipe-icon-padding;
  width:200px;
  h3 {
    color: #3d2a13;
    padding: .5em;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  border-radius: 5%;
  overflow: hidden;
}

.recipeItemImageContainer {
  width: $recipe-icon-size;
  height: $recipe-icon-size;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.recipeItemStyles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -$recipe-icon-padding/2;
  width: 100%;
};

@media (max-width: $small-breakpoint) {
}
@media (min-width: $small-breakpoint+1) and (max-width: $medium-breakpoint) {
}
@media (min-width: $medium-breakpoint+1) and (max-width: $large-breakpoint) {
}
