@import '../sassVariables.scss';

ul, ol {
   padding-left: 1.8rem;
   padding-bottom: 1rem;
}

.formLayout {
 min-width: 200px;
 max-width: 70%;
 margin: 0 auto;
}

.formInputLayout {
 margin: 2rem auto;
 display: flex;
 flex-direction: column;
 textarea, input {
   margin-top: 1rem;
 }
 textarea {
   height: 12rem;
 }
}

.centerMe {
 margin: 0 auto;
 text-align: center;
}

.inputError {
  border: 1px solid $input-error-color;
  padding: 2px;
  background: lighten($input-error-color, 48%);
  &:focus {
    border: 1px solid transparent;
    outline: $input-error-color auto 5px;
    box-shadow: $input-error-color auto 5px;
    -webkit-box-shadow: $input-error-color auto 5px;
  }
}

.errorMessage {
  padding-left: 1rem;
  color: $input-error-color;
  font-style: italic;
}
.noErrorMessage {
  display: none;
}
.inputFieldNote {
  padding-left: 1rem;
  color: grey;
  font-style: italic;
}

// Adapted from https://css-tricks.com/star-ratings/
@mixin starStyle() {
  color: darken(gold, 5%);
  &:before {
    content: "\2605";
    position: absolute;
    color: darken(gold, 5%);
  }
}

@mixin emptyStarStyle() {
  content: "\2606";
  color: black;
  &:before {
    color: rgba(50, 50, 50, .1);
  }
}

.ratingSection {
  display: flex;
  height: 2rem;
  font-size: 1.5rem;
  align-content: center;
  box-sizing: border-box;
  label {
    margin-right: 1rem;
    align-self: center;
    font-size: 1rem;
  }
  span {
    width: 1.5rem;
    height: 100%;
    align-self: center;
    content: "\2606";
  }
}

// stars will fill based on state
.ratingBox.five-star > span {
  @include starStyle();
}
.ratingBox.four-star > span:nth-child(1) ~ span {
    @include starStyle();
}
.ratingBox.three-star > span:nth-child(2) ~ span {
  @include starStyle();
}
.ratingBox.two-star > span:nth-child(3) ~ span {
  color: transparent;
  @include starStyle();
}
.ratingBox.one-star > span:nth-child(4) ~ span {
  @include starStyle();
}

// hovering changes underlying unicode and changes subsequent spans; hovering overrides aforementioned styles
.ratingBox {
  unicode-bidi: bidi-override;
  direction: rtl;
  background-color: rgba(50, 50, 50, .1);
  padding: 0 .3rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
}

// .formLayout used to overwrite specificity of star ratings
// defaults to 5 unfilled stars
.formLayout .ratingSection .ratingBox:hover > span {
  @include emptyStarStyle();
}

.formLayout .ratingSection .ratingBox > span:hover,
.formLayout .ratingSection .ratingBox > span:hover ~ span {
  @include starStyle();
}

