@import '../sassVariables.scss';

$searchIconWidth: 40px;
$offsetColor: rgb(50, 50, 30);

/*Resize the wrap to see the search bar change!*/
.searchBox {
  width: 30%;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
  border-radius: 35px;
  padding: 0 10px;
  overflow: hidden;
  background-color: white;
  & > input {
    font-size: 20px;
  }
  & > button {
    font-size: 25px;
  }
  transform: translate(-50%, -50%);
}

.searchInput {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  &:focus{
    color: lighten($offsetColor, 10%);
  }
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $offsetColor;
    opacity: 1; /* Firefox */
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $offsetColor;
  }
  &::-ms-input-placeholder { /* Microsoft Edge */
    color: $offsetColor;
  }
}


.searchButton {
  background-color: white;
  width: $searchIconWidth;
  height: inherit;
  text-align: center;
  color: lighten($offsetColor, 10%);
  border: none;
  cursor: pointer;
  i {
    padding: 5px;
  }
}
