.loginPage {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > * {
    margin-top: 20px;
    text-align: center;
  }
}

.loginButton {
  background-color: rgb(57, 86, 151);
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 38px;
  letter-spacing: 0.25px;
  line-height: 15px;
  margin: 4px 0;
  margin-top: 20px;
  padding: 8px;
  position: relative;
  text-align: center;
  text-overflow: clip;
  white-space: nowrap;
  width: 355.5px;
  max-width: 80%;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  .logo {
    width: 18px;
    height: 18px;
    border-radius: 2px;
    margin-right: 24px;
  }
}
