@import '../../sassVariables.scss';

$modal-primary: #4368ad;
$dark-grey: #333333;
$menu-padding: 20px;
$base-transition: .4s;

.menuModal {
  background-color: rgba(75, 75, 75, 0.75);
  position: fixed;
  top: 0;
  right: 100%;
  left: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 2.5em;
  text-align: center;
  overflow: auto;
  z-index: 200;
  transition: all $base-transition/2;
  .modal-top {
    text-align: right;
    background-color: $modal-primary;
    i {
      cursor: pointer;
    }
  }
  .modal-body {
    min-height: calc(100% - 55px);
    .well, .accordion-list {
      background-image: none;
      background-color: $modal-primary;
      border-color: $dark-grey;
      box-shadow: 0px 0px 3px $dark-grey;
    }
    ul {
      margin: auto 11px;
      padding: 35px 35px 0 35px;
      list-style: none;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $bright-color;
      li {
        margin-bottom: 10px;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
        background-color: lighten($modal-primary, 10%);
        }
      }
    }
  }
}

// Prevent Body from Scrolling Behind Modal (does not apply to Mobile) :
.modal-open {
  overflow: hidden;
  position: relative;
}

//General Accoridan Styles
.menuModal {
  padding-bottom: 0;
  h3, i, p, a {
    color: $bright-color;
    margin: 0;
  }
  a {
    font-size: 1rem;
  }
  .modal-top {
    padding-right: 10%;
    i {
      font-size: 2rem;
      cursor: pointer;
    }
  }
  .modal-body {
    .modal-container {
      margin: 0;
      padding: 0;
      max-width: none;
    }
  }
  .accordion-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .4s;
    background-color: $modal-primary;
    padding: $menu-padding/2 10%;
    border-bottom: 1px solid darken($modal-primary, 10%);
    position: relative;
    i {
      font-size: 2rem;
      margin-left: .5em;
    }
    .accordion-label, .accordion-submenus {
      align-self: flex-start;
      text-align: left;
    }
    .accordion-label {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .accordion-submenus {
      width: 100%;
      box-sizing: border-box;
      max-height: 0;
      transition: all $base-transition/2;
      overflow: hidden;
      position: relative;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      p, a {
        place-self: start;
        white-space: normal;
        margin-top: .5em;
      }
    }
  }
  .accordion-item.accordion-open {
    background-color: darken($modal-primary, 10%);
    border-bottom: 1px solid darken($modal-primary, 15%);
    .accordion-submenus {
      max-height: 300px; //Not responsive: better transition than height? -LV
      padding: .25em;
    }
  }
  .accordion-footer {
    width: 100%;
    height: auto;
    background-color: $modal-primary;
    p, a {
      white-space: normal;
    }
  }
}

//NavBar Accordion Styles
.menuModal {
  .modal-body {
      height: 100%;
      .accordion-list {
        height: 100%;
      }
  }
}

.menuModal.modal-open-style {
  transform: translateX(-100%);
  -webkit-box-shadow: -1px 0px 10px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 10px 1px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 10px 1px rgba(0,0,0,0.75);
}

.container.main-menu-showing, .nav-bar.main-menu-showing {
  transform: translateX(100%);
}

@media (min-width: $small-breakpoint) {
  .menuModal {
    width: 350px;
    right: -350px;
    background-color: rgba(75, 75, 75, 0.75);
    .modal-top {
      background-color: $modal-primary;
      box-shadow: 0px 0px 3px $dark-grey;
      padding-right: 25px;
    }
    .accordion-item {
      padding: .25em 25px;
      .accordion-label {
        align-self: center;
      }
    }
  }
  .menuModal.modal-open-style {
    transform: translateX(-100%);
  }
  .container.main-menu-showing, .nav-bar.main-menu-showing {
    transform: translateX(350px);
  }
}

.screen-blocker {
  position: fixed;
  box-sizing: border-box;
  transform: translateY(0%);
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 195;
  transition: background-color $base-transition;
  background-color: transparent;
  content: "";
}
.screen-blocker.main-menu-showing {
  background-color: rgba(75, 75, 75, 0.3);
  pointer-events: auto;
}

.menu-arrow {
  position: relative;
  transition: all $base-transition;
}
.menu-arrow.view-icon {
  transform: rotate(180deg);
}
