div {
  background-color: pink;
  p {
    color: white;
  }
}

.navBar {
  background-color: yellow;
  display: flex;
  div {
    p {
      color: pink;
    }
    background-color: yellow;
  }
  img {
    display: inline-block;
    max-height: 80px;
  }
}

@mixin responsive-box($height){
  position: relative;
  &:before{
    content: '';
    display: block;
    padding-top: $height;
  }
}

.recipeItemBox {
  // img {
  //   height: 100%;
  //   max-height: 200px;
  // }
  position: relative;
  background-color: yellow;
  box-sizing: border-box;
  margin: 0 0 20px 20px;
  max-width: 200px;
}

.recipeItemImageContainer {
  width: 150px;
  height: 150px;
  display: inline-block;
  position: relative;
  border: solid black 5px;
  overflow: hidden;
  img {
    max-width: 200px;
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 0;
    left: 50%;
    margin: -75px 0 0 -75px;
  }
}

.recipeItemImageContainer:after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}

.pageContentSection {
  margin: 0 auto;
  width: 100%;
  border: solid blue;
  box-sizing: border-box;
}

.contentContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  border: dashed green;
  box-sizing: border-box;
}
