div {
  background-color: pink;
  p {
    color: white;
  }
}

.navBar {
  background-color: yellow;
  display: flex;
  div {
    p {
      color: pink;
    }
    background-color: yellow;
  }
  img {
    display: inline-block;
    max-height: 80px;
  }
}
