div {
  background-color: pink;
  p {
    color: white;
  }
}

.navBar {
  background-color: yellow;
  display: flex;
  div {
    p {
      color: pink;
    }
    background-color: yellow;
  }
  img {
    display: inline-block;
    max-height: 80px;
  }
}

@mixin responsive-box($height){
  position: relative;
  &:before{
    content: '';
    display: block;
    padding-top: $height;
  }
}

.recipeItemBox {
  img {
    height: 100%;
    max-height: 200px;

  }
  border: 5px solid red;
  box-sizing: border-box;
  margin: 0 0 20px 20px;
}

.pageContentSection {
  margin: 0 auto;
  width: 100%;
  border: solid blue;
  box-sizing: border-box;
}

.contentContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  border: dashed green;
  box-sizing: border-box;
}
