//COLORS
$background-color: #E8ECF5;
$brand-color: lighten(#fffc4c, 5%);
$off-brand-color: #009933;
$offsetColor: darken(brown, 20%);
$bright-color: #fff;
$logo-color: #FFDF40;
$login-primary: #3f4c6b;

//LAYOUT SIZES
$navbar-height: 80px;
$navbar-height-md: 64px;
$header-height: 35vh;
$header-height-sm: 15vh;
$header-height-md: 25vh;
$header-height-lg: 30vh;
$margin-md: 20px;
$margin-lg: $margin-md * 2;
$small-breakpoint: 600px;
$medium-breakpoint: 900px;
$large-breakpoint: 1200px;

//ICON SIZES
$recipe-icon-size: 200px;
$recipe-icon-padding: 40px;
$icon-height: $navbar-height * .9;
$icon-height-md: $navbar-height-md * .9;
