//COLORS
$background-color: #E8ECF5;
$brand-color: lighten(#fffc4c, 5%);
$off-brand-color: #009933;
$offsetColor: rgb(50, 50, 30);

//LAYOUT SIZES
$navbar-height: 80px;
$header-height: 35vh;
$small-breakpoint: 600px;
$medium-breakpoint: 900px;
$large-breakpoint: 1200px;

//ICON SIZES
$recipe-icon-size: 200px;
$recipe-icon-padding: 40px;
$icon-height: $navbar-height*.9;
